
:root{
    --cor-de-fundo: #0c700c;
    --branco: #ffffff;
    --verde: #288000;
    --azul: #0262ac;
    --preto: #000000;
    --cinza: #2e2e2e;
    --cinza-claro: #858585;
    --fonte-principal:"Verdana";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}
.titulo_h2{
    font-weight: 300;
    display: block;
    color: #7700ff;
    padding-right: 2em;
}

.titulo_h3{
    font-weight: 300;
    display: block;
    color: #000000;
    padding-right: 2em;
}
