
:root{
    --cor-de-fundo: #2867b9ce;
    --branco: #ffffff;
    --verde: #288000;
    --azul: #0262ac;
    --preto: #000000;
    --cinza: #2e2e2e;
    --cinza-claro: #c5c5c5;
    --fonte-principal:"Verdana";
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 25px;
    color:var(--preto);
    text-align: center;
    line-height: 1.5;
    margin: 30px;
    padding: 25px;
}
.titulo_h2{
    font-weight: 100;
    display: block;
    color: var(--cinza-claro);
    padding-right: 2em;
    text-align: center;
}

.titulo_h3{
    font-weight: 300;
    display: block;
    color: var(--cinza-claro);
    padding-right: 2em;
    text-align: center;
}



