:root{
    --cor-de-fundo: #d3b5f6;
    --branco: #ffffff;
    --laranja: #EB9B00;
    --azul: #002F52;
    --preto: #000000;
    --cinza: #2e2e2e;
    --cinza-claro: #858585;
    --fonte-principal:"Poppins";
}